__pycache__/
.vscode/
Hero/
hv_class_notes/
hvenv/
practice_folder/
scrapping_test/
sql_scrpter/
statistics_assignment/
train_collision_in_india_project/
comparison.png
resume_format.docx
ETNews_202108201117.csv
newsyfinance.ipynb
PIB_National_News_2010_2026.csv
capstone/Plant_leave_diseases_dataset_with_augmentation
capstone/Plant_leave_diseases_dataset_with_augmentation.zip
capstone/scrapped_data
capstone/tuner_logs
check_nan.py
capstone/test_data